* {
    margin: 0;
    box-sizing: border-box;
}

.staff__h1,
.student__h1 {
  color: rebeccapurple
}

.staff__section, 
.student__section {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
}