.person__section {
    background-color: #C4E8F0;
    width: 200px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.photo__img {
    height:150px;
    width:150px;
    margin-top: 10px;
    border-radius: 25px;
}

.photo__section {
    width: 80%;
    overflow: hidden;
}

.name__p {
    color: #FF6347;
}

.superlative__p {
    color: #6395EC;
    font-size: 12px;
    margin: 5px;
}

.quote__p {
    font-style: italic;
    font-size: 12px;
    margin: 5px;
}